body {
    font-size:14px;
    font-family: lato;
    margin:0;
    /* font-weight: 300; */
}


h1 {
    font-weight: 300;
}

h2 {
    font-size:22px;
    font-weight: 500;
}

h3 {
    font-size:18px;
    font-weight: 500;
}

li {
    padding-top:1px
}

#page{
    width:100%;
}

#header {
    position:relative;
    z-index:4;
    top:0px;
    font-weight:300;
    text-transform:uppercase;
    line-height: 2em;
    margin-left: 15px;
    background: rgba(0,0,0,0.5);
}

#header h1{
    margin-top: 0px;
}

html{ 
      background:#000;
      }

#main {
    width:100%;
    overflow-x: hidden;
    left: 0px;
    /* background: rgba(20,20,20,1); */
    background: #000;
    /* margin-left:15%; */
    position: absolute;
    /* right:500px; */
    top:0px;
    z-index:1;
/* clear: both; */ 
/* float:right; */
} 


.container a {
    color: #ff7f0e;
}
.container a, 
.container a:visited {
    color: #ff7f0e; 
    /*color: #4d4d4d; */
    text-decoration: underline;
}

#container {
    /* font-family: Arial, sans-serif; */

    color:#fff;
    width: 100%;
    padding: 5px 0 10px 0;
    line-height: 1.1em;
    height:100%;
    background:#000;
/* margin: auto; */
}

#container h2,
#container h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

#container p{
    margin-bottom:10px;
    padding-bottom:0px;
}

.panel { 
    background: rgba(0,0,0,0.5);
 }

#apropos {
           position:absolute;
           left:357px;
           top:100px;
           float:center;
           width:35%;
           display:none;
           background: rgba(0,0,0,0.5);
           z-index:5;
}

#apropos h2{
    padding-top:20px;
    padding-bottom:5px;
}

#modedemploi {
               position:absolute;
               display:none;
               left:375px;
               float:center;
               width:35%;
               top:100px;
               background: rgba(0,0,0,0.5);
               z-index:5;
}

#modedemploi h2{
    padding-top:20px;
    padding-bottom:5px;
}

#infos {
    background: rgba(0,0,0,0.5);
    width:300px;
    float:right;
    position:relative;
    /* height:10%; */
    top:50%;
    z-index:3;
    visibility:visible;
}

#infos {
    padding-left:0px;
    padding-right:20px;
}

#infos h3{
    padding-top:20px;
}


#infos p {
    margin:0;
    padding-top:7px;
}

.ref span {
    padding-top:3px;
}

.ref {
    padding-top:5px;
} 
 
.ref_emission {
    padding-left:10px;
}

.ref_id{
    padding-right:7px;
}

.titre_ref {
    font-style:italic;
}

.aut{
    padding-top:15px;
} 

.em{
    padding-top:15px;
} 



#a_apropos a{
    color:#ddd;
    cursor: pointer;
}

#a_modedemploi a{
    color:#ddd;
    cursor: pointer;
}

#controls {
    margin-left: 15px;
    width: 300px;
    float:left;
    position:relative;
    background: rgba(0,0,0,0.5);
    z-index:2;
}

#controls h2{
    margin-bottom: 15px;
}

#controls h3{
    margin-bottom: 10px;
}

#range{
    margin-top: 15px;
    width: 80%;
}

.slider {
    width:100%;
    clear:both;
    float: left;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:5px;
}

/* .ui-corner-all { */
/*     border-top-right-radius: 0px; */
/*     border-top-left-radius: 0px; */
/*     border-bottom-right-radius: 0px; */
/*     border-bottom-left-radius: 0px; */
/* } */
.rs-container{
    height: 20px;
}
.rs-container .rs-selected{
    background-color: gray;
    border: none;
}

.rs-scale span{
    display: none;
}

#slider-range {
    margin-bottom:10px;
}

.control {
    clear:both;
    float: left;
    margin-bottom:0px;
}

.legend {
    clear:both;
    float: left;
    margin-top:0px;
    margin-bottom:4px; 
}

.control a {
    color: black;
    font-size: 12px;
    padding: 5px;
    background: #E2E2E2;
    cursor: pointer;
    margin-right: 3px;
    text-decoration: none;
}

.control {
    clear:both;
    float: left;
    margin-bottom:15px;
}


.control_apropos {
    /* clear:both; */
    float: left;
    padding-left: 0px; 
    margin-bottom:0px;
}

.control_apropos a {
    color: black;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    background: #E2E2E2;
    cursor: pointer;
    margin-right: 3px;
    text-decoration: none;
}

.control_apropos a:hover {
    text-decoration: underline;
}

.control_apropos a.active {
    color: white;
    background: #555;
}

.control a:hover {
    text-decoration: underline;
}

.control a.active {
    color: white;
    background: #555;
}

/* p.search_title { */
/*     display: inline; */
/*     text-align: left;   */
/*     font-weight: normal; */
/*     color: #777; */
/* } */

#search_section {
    padding-top: 0px;
    width:80%
    /* padding-left: 20px; */
}

#search_form #search {
    /* margin-left: 10px; */
    width:100%;
    padding: 4px;
}


footer {
    position:absolute;
    bottom:0px;
}

footer p {
    text-align: center;
}

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius:3px;
    border-radius: 3px;
    border: 2px solid #DDD;
    background: #111;
    opacity: 0.9;
    color: #fff;
    padding: 10px;
    width: 300px;
    font-size: 15px;
    z-index: 120;
}

.tooltip p.main {
    font-size: 15px;
    text-align: center;
    padding:0;
    margin:0;
}

hr.tooltip-hr {
    padding:3px 0 0 0;
    margin:3px 0 3px 0;
}

.tooltip .title {
    font-size: 20px;
    line-height: 24px;
    opacity:1;
}

.tooltip .name {
    font-weight:bold;
}


line.link {
    fill: none;
    stroke: "#ddd"
    stroke-width: 1.5px;
}

span.reverse {
    direction:rtl;
    unicode-bidi:bidi-override;
}

@media screen and (max-width: 1150px){ 
  #controls{  
             position:absolute;
             display:block;
             top:auto;
             left:0;
             width:50%;
             clear:both;
             background:rgba(100,100,100, 0.5)
             height:100%;
             }
  .control{ 
            clear:both;
             }

#apropos, #modedemploi{ 
                        left:0px;
                        width:90%;
                        position:relative;
                        margin-left: 30px;
                        top:auto;
                        clear:both;
                        display:none;
                        background:transparent;
                        }

#infos{ 
       visibility:hidden;
        }

}

@media screen and (min-width: 1151px){ 
  #controls{  
             left:0;
             height:auto;
             }
 
#apropos, #modedemploi{ 
                        left:375px;
                        float:center;
                        width:35%;
                        top:100px;
                        display:none;
                        position:absolute;
                        }

#infos{ 
        visibility:visible;
        }
 
}

